@import "nullstyle";
@import "_adaptate";
.wrapper {
    height: 100%;
    width: 100%;
    background: #272727;
    font-family: "Roboto", sans-serif;
    color: white;
}
.map-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: em(1400);
    // width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.header {
    background: #474747;
    // .header__container
    &__container {
        display: flex;
        align-items: center;
    }
    // .header__menu
    &__menu {
        width: 100%;
        padding: rem(30) 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__button {
        background: transparent;
    }
    &__search {
        display: flex;
        align-items: center;
        min-width: 40%;
    }
    &__input {
        width: 100%;
        padding: 0 rem(20);
        height: rem(40);
        border-radius: rem(6);
        font-size: rem(20);
    }
}

.map {
    flex: 1 1 auto;
    height: rem(860);
}
.footer {
    background: #474747;
    &__menu-row {
        padding: rem(20) 0;
        font-size: rem(24);
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    &__menu-column {
        width: 25%;
    }
    &__col {
        .button {
            background: transparent;
            font-size: rem(20);
            color: white;
            border-radius: rem(7);
            a {
                color: aliceblue;
            }
            &:hover {
                background: #272727;
            }
        }
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: auto;
    }
}
