@import "nullstyle";
@import "_adaptate";
.wrapper {
    height: 100%;
    width: 100%;
    background: #272727;
    font-family: "Roboto", sans-serif;
    color: white;
}
.test-drive-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: em(1400);
    // width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.header {
    background: #474747;
    // .header__container
    &__container {
        display: flex;
        align-items: center;
    }
    // .header__menu
    &__menu {
        width: 100%;
        padding: rem(30) 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__button {
        background: transparent;
    }
    &__search {
        display: flex;
        align-items: center;
        min-width: 40%;
    }
    &__input {
        width: 100%;
        padding: 0 rem(20);
        height: rem(40);
        border-radius: rem(6);
        font-size: rem(20);
    }
}

.test-drive {
    background: #272727;
    flex: 1 1 auto;
    h1 {
        margin: rem(20);
        font-size: rem(40);
    }
    &__center {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.form {
    background: #272727;
    &__warn {
        font-size: rem(20);
        color: palevioletred;
    }
    &__item {
        margin: rem(20) 0;
    }
    &__select {
        // padding: rem(15) rem(20);
        border: 4px solid black;
        height: rem(50);
        width: 100%;
        border-radius: rem(10);
        font-size: rem(20);
    }
    &__input {
        padding: rem(15) rem(20);
        height: rem(50);
        width: 100%;
        border: 4px solid black;
        border-radius: rem(10);
        font-size: rem(20);
        transition: all 0.3s ease 0s;
        &:focus {
            box-shadow: 0 0 rem(15) rgb(70, 0, 201);
        }
    }
    &__label {
        font-size: rem(20);
        display: block;
        margin: 0 0 rem(20) 0;
    }
    &__textarea {
        padding: rem(15) rem(20);
        width: 100%;
        border: 4px solid black;
        border-radius: rem(10);
        font-size: rem(20);
        min-height: rem(50);
        resize: vertical;
        transition: all 0.3s ease 0s;
        &:focus {
            box-shadow: 0 0 rem(15) rgb(70, 0, 201);
        }
    }
    &__button {
        width: 100%;
        min-height: rem(50);
        display: flex;
        justify-content: center;
        align-items: center;
        color: aliceblue;
        font-size: rem(20);
        letter-spacing: rem(2);
        font-weight: 700;
        background: rgb(52, 0, 148);
        border-radius: rem(10);
        box-shadow: 0 rem(5) 0 #474747;
        margin: rem(20) 0;
        transition: background-color 0.3s ease 0s;
        position: relative;
        &:hover {
            background: rgb(70, 0, 201);
        }
        &:active {
            top: rem(3);
            background: rgb(45, 0, 128);
            box-shadow: 0 rem(2) 0 #474747;
        }
    }
}
.options {
    &__input {
        display: none;
    }
    &__label {
        cursor: pointer;
        position: relative;
        display: inline-flex;
        font-size: rem(20);
        margin: 0 0 rem(20) 0;
        align-items: center;
        &::before {
            content: "";
            margin: 0 rem(20) 0 0;
            flex: 0 0 rem(30);
            height: rem(30);
            background-color: aliceblue;
            border-radius: 50%;
            align-self: flex-start;
        }
        &::after {
            transition: transform 0.5s ease 0s;
            content: "";
            position: absolute;
            top: rem(6);
            left: rem(6);
            width: rem(17);
            height: rem(17);
            background-color: rgb(52, 0, 148);
            border-radius: 50%;
            transform: scale(0);
        }
    }
}
.options__input:checked + .options__label::after {
    transform: scale(1);
}

.file {
    &__item {
        position: relative;
    }
    &__input {
        position: absolute;
        top: 0;
        left: 0;
        width: rem(100);
        height: rem(50);
        height: 100%;
        opacity: 0;
        font-size: 0;
        cursor: pointer;
    }
    &__button {
        display: inline-flex;
        min-height: rem(40);
        border-radius: rem(10);
        padding: 0 rem(20);
        justify-content: center;
        align-items: center;
        background: rgb(52, 0, 148);
    }
    &__preview {
        display: inline-block;
        max-width: rem(100);
        padding: rem(10);
        img {
            max-width: 100%;
        }
    }
}

.checkbox {
    &__input {
        display: none;
    }
    &__label {
        cursor: pointer;
        font-size: rem(20);
        position: relative;
        display: inline-flex;
        margin: 0 0 rem(20) 0;
        align-items: center;
        &::before {
            content: "";
            margin: 0 rem(20) 0 0;
            flex: 0 0 rem(30);
            height: rem(30);
            background-color: aliceblue;
            border-radius: rem(8);
            align-self: flex-start;
        }
        &::after {
            transition: transform 0.5s ease 0s;
            content: "";
            position: absolute;
            top: rem(6);
            left: rem(6);
            width: rem(17);
            height: rem(17);
            background-color: rgb(52, 0, 148);
            border-radius: rem(4);
            transform: scale(0);
        }
    }
}

.checkbox__input:checked + .checkbox__label::after {
    transform: scale(1);
}

.footer {
    background: #474747;
    &__menu-row {
        padding: rem(20) 0;
        font-size: rem(24);
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    &__menu-column {
        width: 25%;
    }
    &__col {
        .button {
            background: transparent;
            font-size: rem(20);
            color: white;
            border-radius: rem(7);
            &:hover {
                background: #272727;
            }
        }
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: auto;
    }
}
